# File: docker-compose.yml
version: '2.1'

services:
  ros-talker:
    build: .
    privileged: true
    network_mode: host
    restart: always
    environment:
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      # Placeholder. This will be overwritten by the Balena Dashboard.
      - DISCOVERY_SERVER_IP=127.0.0.1 
    # Start a talker node that publishes "Hello World"
    command: ros2 run demo_nodes_cpp talker --ros-args --remap __node:=balena_talker
